<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joshuarichardson.fivewaystowellbeing">

    <application
        android:name=".HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.settings.apps.AppAssignmentActivity" android:parentActivityName=".ui.settings.SettingsActivity" android:label="@string/settings"/>
        <activity
            android:name=".ui.history.AddMissedDayActivity"
            android:label="@string/missed_days_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LearnMoreAboutFiveWaysActivity"
            android:label="@string/learn_more_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.individual_surveys.IndividualSurveyActivity"
            android:label="@string/launch_view_surveys"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activities.edit.CreateOrUpdateActivityActivity"
            android:label="@string/launch_create_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnswerSurveyActivity"
            android:label="@string/launch_answer_survey" />
        <activity
            android:name=".ui.activities.edit.ViewActivitiesActivity"
            android:label="@string/launch_view_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.wellbeing_support.WellbeingSupportWebViewActivity"
            android:label="@string/get_wellbeing_support"
            android:parentActivityName=".ui.wellbeing_support.WellbeingSupportActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.wellbeing_support.WellbeingSupportActivity"
            android:label="@string/get_wellbeing_support"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="${analytics_deactivated}" />

        <receiver
            android:name=".automated_activity_tracking.physical_activity_tracking.PhysicalActivityBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".notifications.SendSurveyReminderNotificationBroadcastReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name=".notifications.DeviceBootedBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- References https://stackoverflow.com/a/12034402/13496270 , https://developer.android.com/guide/components/broadcast-exceptions -->
        <service
            android:name=".automated_activity_tracking.app_usage_tracking.AppUsageActivityTrackingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".automated_activity_tracking.physical_activity_tracking.PhysicalActivityDurationIntentService"
            android:exported="false" />
        <service
            android:name=".automated_activity_tracking.AddAutomaticActivityIntentService"
            android:exported="false" />
    </application>
    <permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.READ_PHONE_STATE" />

    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- As app usage tracking is a feature, all packages need to ba accessible -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

</manifest>